<h2>Create a New Person for the mailing list here:
    <a href="@Url.Action("Index", null, new { area = string.Empty, controller = "People/New" }, Request.Url.Scheme)">
        <span>Clients</span>
    </a>
    </h2>